.carrContenido{
    width: 90%;
    margin: 20px auto;
    background-color: #F3F0D7;
    padding: 6px;
    border: 1px solid #000;
    border-radius: 5px;
}
.carrContenido>h3{
    margin: 0;
    font-size: 2rem;
    border-bottom: solid 4px #ff7878;
}
.infoCarrito{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 4px #ff7878;
    font-weight: bold;
    padding: 10px;
}
.imgCarrito{
    display: flex;
    margin-top: 20px;
}
.carrImagen {
    margin-right: 20px;
    width: 20%;
} 
.carrImagen > img{
    width: 100%;
}
.carrTren{
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.imagenCarrito{
    width: 500px;
}
.imagenCarrito> img{
    width: 100%;
}
.carrColumna{
    display: flex;
}
.carrColumna > div{
    background-color: #CEE5D0;
    padding: 10px;
    border: solid 1px black
}
.carritoInfoCont{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ff7878;
    padding-bottom: 5px;
}
.carrEliminar{
    margin-right:20px;
    display: flex;
    align-items: center;
}
.carrEliminar > form > button{
    background: #ff7878;
    border: none;
    padding: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.carritoSubtotal{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.5rem;
    border-top:4px solid #ff7878; /* cambia arriba*/
    border-bottom:4px solid #ff7878;/*cambia abajo*/
    padding: 10px;
}
.infoEnvio{
    padding: 10px;
}
.infoEnvio > span{
    font-weight: bold;
    color:#000 ;
    
}
.infoCalcular > button{
    font-weight: bold;
    background-color: #CEE5D0;
    padding: 10px;
    border: solid 1px black;
    border-radius: 0 10px 10px 0;  
}
.infoCalcular > input{
    padding: 10px; 
}
.infoCalcular{
    display: flex;
}
.infoRetiro{
    display: flex;
    font-weight: bold;
    align-items: center;
    padding: 10px;
}
.infoCodigo {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    flex-wrap: wrap;
    padding-top: 10px;
}
.infoPromocion {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    
}
.infoPromocion > p{
    display: inline;
    margin: 0;
}
.infoPromocion > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.infoPromocion > div > span{
    background-color: #fff;
    padding: 10px;
    border: solid 1px black;
    margin: 0 5px 5px 0;
}
.infoTotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-top: 20px;
    border-top: 3px solid #ff7878;
    padding-top: 10px;
}
.infoTotal {
    border-bottom: 1px solid #000;
}
.cuentaCarrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cuentaCarritoTotal{
    border-top: 1px solid #000;
    width: 100%;
    text-align: center;
}
.carritoEnvio{
    padding: 10px;
    border-bottom:4px solid #ff7878;
}
.carritoEnvio:nth-child(2){
    padding: 10px;
    background-color: red;
}
.msgCarrito{
    text-align: center;
    padding: 20px;
    margin: auto;
    color: #ff7878;
    text-shadow: 0 1px 0 #000;
}
.validarCodigo{
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.validarCodigo > input{
    border-left: 1px solid #000;
    border-right: 0px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 5px;
    outline: none;
    border-radius: 5px 0 0 5px;
}
.validarCodigo > input[type="submit"]{
    background: #ff7878;
    color: #000;
    font-weight: bold;
    border-right: 1px solid #000;
    border-left: none;
    border-radius: 0 5px 5px 0;
}
.validarCodigo > div{
    padding: 5px;
}
.deleteCode{
    background: #ff7878;
    border: none;
    padding: 5px;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@media only screen and (min-width: 768px){
    
}
@media only screen and (min-width: 1024px){
    .contContact{
        grid-template-rows:auto
    }
    .contC1{
        grid-area: auto;
        grid-column: span 5;
    }
    .contC1 > img{
        width: 14%;
    }
    .contC2 { grid-area: 2 / 1 / 6 / 3; }
    .cuentaCarrito{
        font-size: 1.5rem;
    }
}