<%- include("../partials/head.ejs",{title:"Contacto"}) %> 
<%- include("../partials/menuHeader.ejs") %> 
    <section class="detailContact">
        <div class="contContact">
            <div class="contC1">
                <h3>CONTACTO</h3>
                <img src="img/oso.png" alt="oso">
            </div>
            <div class="contC2">
                <form class="contactForm" action="#">
                    <input type="text" placeholder="Nombre" name="nombre" id="nombre" required/>
                    <input type="email" placeholder="Email" name="email" id="email" required/>
                    <textarea placeholder="Mensaje" name="mensaje" id="msj" cols="30" rows="10" required></textarea>
                    <input type="submit">
                </form>
            </div>
            <div class="contC3 tablet"> 
                <div class="cajaMapaCont">
                    <img src="img/mapa.png" alt="mapa">
                </div>
            </div>
        </div>
    </section>
<%- include("../partials/footerBase.ejs") %> 