<%- include("../partials/head.ejs",{title:"Quienes somos"})  %> 
<%- include("../partials/menuHeader.ejs")  %> 
<div class="contGeneral">
    <div class="quienesSomosCont">
        <div class="somosLogo">
            <img src="img/sobreNosotros.png" alt="Logo gugu">
        </div>
    </div>
</div>
<%- include("../partials/footerBase.ejs")  %> 