<header class="adminHeader">
    <h1>ADMIN</h1>
    <nav>
        <ul class="adminMenuH">
            <li><a href="/admin">ADMIN</a></li>
            <li><a href="/admin/stock">STOCK</a></li>
            <li><a href="/admin/products">PRODUCTOS</a></li>
            <li><a href="/products/create">AÑADIR PRODUCTO</a></li>
        </ul>
    </nav>
</header>