<footer class="footer">
    <div class="contGrid">
        <div class="pagosEnvios"> 
            <div>
                <h4>MEDIOS DE PAGO</h4>
                <ul class="tarjetas">
                    <li><img src="/img/TARJETAS/visa@2x.png" alt="Visa"></li>
                    <li><img src="/img/TARJETAS/banelco@2x.png" alt="Banelco"></li>
                    <li><img src="/img/TARJETAS/mastercard@2x.png" alt="MasterCard"></li>
                    <li><img src="/img/TARJETAS/rapipago@2x.png" alt="Rapipago"></li>
                    <li><img src="/img/TARJETAS/mercadopago@2x.png" alt="Mercadopago"></li>
                    <li><img src="/img/TARJETAS/tarjeta-naranja@2x.png" alt="Tarjeta naranja"></li>
                    <li><img src="/img/TARJETAS/pagofacil@2x.png" alt=""></li>
                    <li><img src="/img/TARJETAS/tarjeta-shopping@2x.png" alt=""></li>
                </ul>
            </div>
            <div>
                <h4>ENVIOS</h4>
                <ul class="tarjetas">
                    <li><img src="/img/TARJETAS/oca@2x.png" alt="Oca"></li>
                </ul>
            </div>
        </div>
        <div class="contactoFooter">         
            <h4>CONTACTO</h4>
            <ul class="infoListFooter">
                <li><i class="fas fa-phone-alt"></i> 11 1234 5678</li>
                <li><i class="fas fa-envelope"></i> contacto@gugu.com</li>
                <li><i class="fas fa-map-marker-alt"></i> Av. 9 de julio 100 - CABA</li>
            </ul>
        </div>
        <div class="redesFooter">        
            <h4>NUESTRAS REDES</h4>
            <ul class="infoListFooter redesListFooter">
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-instagram"></i></li>
            </ul>
        </div>
    </div>
    <p>GUGU &copy; 2021.</p>
</footer>
<script type="text/javascript" src="/js/main.js"></script>
</html>