<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recuperar cuenta</title>

        <%- include("../partials/head.ejs")  %>

    </head>
    <body>
        <%- include("../partials/menuHeader.ejs")  %>

        <h1 class="forgetten1">Recuperar contraseña</h1>
            <div class="forPass">
                <h2>Inregese el email con el que se registro</h2>
                <form class="formForgett" action="#">
                    <div class="forgettInput">
                    <input type="email" placeholder="Email" required>
                    </div>
                    <div>
                        <button>Enviar nueva contraseña</button>
                    </div>
                </form>
                

                    
                
            </div>

        <%- include("../partials/footerBase.ejs")  %>
    </body>
</html>